<header class="header">
  <div class="container header-container">
    <div class="header-wrapper">
      <nav class="header-nav">
        <a href="" class="header-logo-link">
          <svg class="header-svg-logo" width="168" height="16">
            <use href="/img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="header-list">
          <li class="header-item">
            <a class="header-link" href="#how-it-works">How It Works</a>
          </li>
          <li class="header-item">
            <a class="header-link" href="#vegetables">Vegetables</a>
          </li>
          <li class="header-item">
            <a class="header-link" href="#reviews">Reviews</a>
          </li>
        </ul>
        <button class="header-btn" type="button">Shop now</button>
      </nav>
      <button class="open-menu" type="button" data-open-menu>
        <svg class="header-svg-menu" width="32" height="32">
          <use href="/img/sprite.svg#icon-header-mob-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
