<!--How it works Section-->

<section class="how-it-works-section" id="how-it-works">
    <div class="container title-container">
        <h2 class="visually-hidden">How it works</h2>
        <div class="img-container">
            <picture>
                <!-- for desktop-->
                <source media=" (min-width: 1280px)" srcset="/img/cooking_woman.jpg 1x, /img/cooking_woman@2х.jpg 2x" />

                <!-- for tablet-->
                <source media="(min-width: 768px)" srcset="/img/howitworks_tab@1x.jpg 1x, /img/howitworks_tab@2x.jpg 2x"
                    width="640" height="640" />

                <!--for mobile-->
                <source media="(max-width: 767px)" srcset="/img/howitworks_mob@1x.jpg 1x, /img/howitworks_mob@2x.jpg 2x"
                    width="335" height="452" />

                <img class="cooking-woman-image" src="/img/cooking_woman.jpg"
                    alt="Woman preparing vegetables in the kitchen" width="440" height="560" />
            </picture>
        </div>
        <div class="text-container">
            <p class="text-title">
                To order your <span class="highlight">vegetable</span> basket, simply follow these <span
                    class="highlight">easy
                    steps</span>
            </p>
            <p class="steps-text">Our baskets are assembled with care and delivered straight to your doorstep,
                so
                you can
                enjoy the taste of fresh fruit
                without ever leaving your home.</p>
            <div class="steps-ol-list">
                <ol class="order-steps-list">
                    <li class="order-steps-item">
                        <p class="steps-item-text-one">Just choose <span class="item-accent">the vegetable</span>
                            you want to order by clicking on the checkboxes <span class="item-accent">next to it.</span>
                    </li>
                    <li class="order-steps-item">
                        <p class="steps-item-text-two">Click on <span class="item-accent">the basket</span> and fill out
                            the form.
                    </li>
                    <li class="order-steps-item">
                        <p class="steps-item-text-three">Sit back and relax! Your <span class="item-accent">fresh
                                vegetables</span> basket will be
                            delivered.

                    </li>

                </ol>
            </div>
        </div>
    </div>
</section>