<div class="mobile-menu" data-menu>
  <div class="container mobile-menu-container">
    <button class="mobile-menu-close" type="button" data-menu-close>
      <svg class="icon-close" width="32" height="32">
        <use href="img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a href="#how-it-works" class="mobile-menu-link current"
            >How It Works</a
          >
        </li>
        <li class="mobile-menu-item">
          <a href="#vegetables" class="mobile-menu-link">Vegetables</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#reviews" class="mobile-menu-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="mobile-menu-btn" type="submit">Shop now</button>
  </div>
</div>
