
    <section class="vegetables color" id="vegetables">
        <div class="container vegetabless">
            <div class="vegetables-title">
                <h2 class="vegetables-heading">organic <span class="vegetables-heading-part">vegetables</span></h2>
                <p class="vegetables-text">Our organic vegetables are hand-picked from local farms and delivered straight to
                    your doorstep, ensuring that you get
                    the freshest and most nutritious produce possible.</p>
            </div>
    
            <ul class="vegetables-list">
                <li class="vegetables-item">
                    <div class="vegetables-wrapper">
                        <h3 class="vegetables-subject">eggplant</h3>
                        <p class="vegetables-subject-text">60 USD / kg</p>
                    </div>
                    <div class="vegetables-img">
                        <picture>
                            <source media="(min-width: 1280px)" srcset="
                                    /img/vegetables/desktop/desktop@1x-5.jpg 1x,
                                    /img/vegetables/desktop/desktop@2x-5.jpg 2x
                                    " >
                            <source media="(min-width: 768px)" srcset="
                                    /img/vegetables/tablet/tablet@1x-5.jpg 1x,
                                    /img/vegetables/tablet/tablet@2x-5.jpg 2x
                                    " >
                            <source media="(max-width: 767px)" srcset="
                                    /img/vegetables/mobile/mobile@1x-5.jpg 1x,
                                    /img/vegetables/mobile/mobile@2x-5.jpg 2x" >
                            <img src="/img/vegetables/desktop/desktop@1x-5.jpg" alt="eggplant" width="280"
                                height="244" >
                        </picture>
                    </div>
                </li>
                <li class="vegetables-item">
                    <div class="vegetables-wrapper">
                        <h3 class="vegetables-subject">leek</h3>
                        <p class="vegetables-subject-text">50 USD / kg</p>
                    </div>
                    <div class="vegetables-img">
                        <picture>
                            <source media="(min-width: 1280px)" srcset="
                                    /img/vegetables/desktop/desktop@1x-4.jpg 1x,
                                    /img/vegetables/desktop/desktop@2x-4.jpg 2x
                                    " >
                            <source media="(min-width: 768px)" srcset="
                                    /img/vegetables/tablet/tablet@1x-4.jpg 1x,
                                    /img/vegetables/tablet/tablet@2x-4.jpg 2x
                                    " >
                            <source media="(max-width: 767px)" srcset="
                                    /img/vegetables/mobile/mobile@1x-4.jpg 1x,
                                    /img/vegetables/mobile/mobile@2x-4.jpg 2x" >
                            <img src="/img/vegetables/desktop/desktop@1x-4.jpg" alt="leek" width="280" height="244" >
                        </picture>
                    </div>
                </li>
                <li class="vegetables-item">
                    <div class="vegetables-wrapper">
                        <h3 class="vegetables-subject">mushrooms</h3>
                        <p class="vegetables-subject-text">40 USD / kg</p>
                    </div>
                    <div class="vegetables-img">
                        <picture>
                            <source media="(min-width: 1280px)" srcset="
                                    /img/vegetables/desktop/desktop@1x-3.jpg 1x,
                                    /img/vegetables/desktop/desktop@2x-3.jpg 2x
                                    " >
                            <source media="(min-width: 768px)" srcset="
                                    /img/vegetables/tablet/tablet@1x-3.jpg 1x,
                                    /img/vegetables/tablet/tablet@2x-3.jpg 2x
                                    " >
                            <source media="(max-width: 767px)" srcset="
                                    /img/vegetables/mobile/mobile@1x-3.jpg 1x,
                                    /img/vegetables/mobile/mobile@2x-3.jpg 2x" >
                            <img src="/img/vegetables/desktop/desktop@1x-3.jpg" alt="mushrooms" width="280"
                                height="244" >
                        </picture>
                    </div>
                </li>
                <li class="vegetables-item">
                    <div class="vegetables-wrapper">
                        <h3 class="vegetables-subject">corn</h3>
                        <p class="vegetables-subject-text">60 USD / kg</p>
                    </div>
                    <div class="vegetables-img">
                        <picture>
                            <source media="(min-width: 1280px)" srcset="
                                    /img/vegetables/desktop/desktop@1x-2.jpg 1x,
                                    /img/vegetables/desktop/desktop@2x-2.jpg 2x
                                    " >
                            <source media="(min-width: 768px)" srcset="
                                    /img/vegetables/tablet/tablet@1x-2.jpg 1x,
                                    /img/vegetables/tablet/tablet@2x-2.jpg 2x
                                    " >
                            <source media="(max-width: 767px)" srcset="
                                    /img/vegetables/mobile/mobile@1x-2.jpg 1x,
                                    /img/vegetables/mobile/mobile@2x-2.jpg 2x" >
                            <img src="/img/vegetables/desktop/desktop@1x-2.jpg" alt="corn" width="280" height="244" >
                        </picture>
                    </div>
                </li>
                <li class="vegetables-item">
                    <div class="vegetables-wrapper">
                        <h3 class="vegetables-subject">sweet potatoes</h3>
                        <p class="vegetables-subject-text">50 USD / kg</p>
                    </div>
                    <div class="vegetables-img">
                        <picture>
                            <source media="(min-width: 1280px)" srcset="
                                    /img/vegetables/desktop/desktop@1x-1.jpg 1x,
                                    /img/vegetables/desktop/desktop@2x-1.jpg 2x
                                    " >
                            <source media="(min-width: 768px)" srcset="
                                    /img/vegetables/tablet/tablet@1x-1.jpg 1x,
                                    /img/vegetables/tablet/tablet@2x-1.jpg 2x
                                    " >
                            <source media="(max-width: 767px)" srcset="
                                    /img/vegetables/mobile/mobile@1x-1.jpg 1x,
                                    /img/vegetables/mobile/mobile@2x-1.jpg 2x" >
                            <img src="/img/vegetables/desktop/desktop@1x-1.jpg" alt="sweet potatoes" width="280"
                                height="244" >
                        </picture>
                    </div>
                </li>
                <li class="vegetables-item">
                    <div class="vegetables-wrapper">
                        <h3 class="vegetables-subject">carrot</h3>
                        <p class="vegetables-subject-text">40 USD / kg</p>
                    </div>
                    <div class="vegetables-img">
                        <picture>
                            <source media="(min-width: 1280px)" srcset="
                                    /img/vegetables/desktop/desktop@1x.jpg 1x,
                                    /img/vegetables/desktop/desktop@2x.jpg 2x
                                    " >
                            <source media="(min-width: 768px)" srcset="
                                    /img/vegetables/tablet/tablet@1x.jpg 1x,
                                    /img/vegetables/tablet/tablet@2x.jpg 2x
                                    " >
                            <source media="(max-width: 767px)" srcset="
                                    /img/vegetables/mobile/mobile@1x.jpg 1x,
                                    /img/vegetables/mobile/mobile@2x.jpg 2x" >
                            <img src="/img/vegetables/desktop/desktop@1x.jpg" alt="carrot" width="280" height="244" >
                        </picture>
                    </div>
                </li>
            </ul>
        </div>
    </section>
