.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #576f35;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 96px;
  padding-bottom: 52px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.open-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.open-menu svg {
  fill: #ffffff;
}
.mobile-menu-close {
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 0;
  border: none;
  background: transparent;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  width: 32px;
  height: 32px;
  display: block;
  stroke: #fbfbfb;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:active .icon-close {
  transform: scale(0.8);
}

.mobile-menu-nav {
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-link {
  border: 1px solid #fbfbfb;
  border-radius: 12px;
  padding: 12px;
  min-width: 118px;
  height: 44px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #fbfbfb;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:focus {
  background-color: #fbfbfb;
  color: #7a3145;
  
}

.mobile-menu-link.current {
  background: #fbfbfb;
  color: #7a3145;
}

.mobile-menu-btn {
  padding: 0;
  border: none;
  background: #7a3145;
  border-radius: 30px;
  padding: 16px;
  min-width: 175px;
  height: 52px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:focus {
  background-color: #fbfbfb;
  color: #7a3145;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    background: rgba(20, 20, 20, 0.4);
  }

  .mobile-menu-container {
    background-color: #576f35;
    width: 351px;
    position: absolute;
    right: 0;
    padding-top: 150px;
    padding-bottom: 48px;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open .mobile-menu-container {
    transform: translateX(0);
  }

  .mobile-menu-close {
    top: 32px;
    right: 32px;
  }

  .icon-close {
    width: 40px;
    height: 40px;
  }

  .mobile-menu-link {
    font-size: 16px;
    line-height: 1.25;
  }

  .mobile-menu-btn {
    min-width: 157px;
    height: 52px;
  }
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
