.vegetables {
  background: #7a3145;
  margin: 0 auto;
}
.vegetabless {
  padding: 80px 20px;
}

.vegetables-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.vegetables-heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.vegetables-heading-part {
  color: #d4bfc4;
}

.vegetables-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;

  color: #fbfbfb;
}

.vegetables-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.vegetables-item {
  border-radius: 40px;
  padding: 32px 24px;
  background: #ffffff;
}

.vegetables-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.vegetables-subject {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
  margin: 0;
}

.vegetables-subject-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #141414;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .vegetables-heading {
    font-size: 64px;
    line-height: 1;
    margin: 0;
  }
  .vegetabless {
    padding: 100px 32px;
  }
  .vegetables-text {
    font-size: 16px;
    line-height: 1.25;

    margin: 0;
  }

  .vegetables-title {
    gap: 24px;
    width: 626px;
    margin-bottom: 52px;
  }

  .vegetables-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 28px 24px;
  }
}

@media screen and (min-width: 1280px) {
  .vegetables {
    padding: 0;
  }
.vegetabless {
  padding: 100px;
}
  .vegetables-list {
    gap: 24px;
  }

  .vegetables-item {
    padding: 32px;
  }

  .vegetables-wrapper {
    margin-bottom: 8px;
  }
}
